
body {
    text-align: center;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.invisible {
    display: none;
}

#highScoreList , li{
    list-style-type: none;
    padding: 0px;
    margin: 0px auto;
}

#buttonContainer {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
#startBtn, #answer1Btn, #answer2Btn, #answer3Btn, #answer4Btn, #endScoreBtn, #highSubmitBtn {
    width: 400px;
    height: 50px;
    margin: 20px;
}